

.root{

 -fx-background-color: rgb(105, 105, 43);

}

.button{
    -fx-arrows-visible: true;

}

.label{
    -fx-font-size: 20;
    -fx-font-family: 'Courier New', Courier, monospace;
    -fx-text-fill: green;
    -fx-alignment: center;
    background-color: aqua;
}

#title{
    
    -fx-font-size: 50;
}